{% extends "base.html" %}

{% block title %}{{ advice.type.title() }} {{ advice.id }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-9">
        <h1>
            {{ advice.type.title() }} {{ advice.id }}
            <small>Séance du {{ advice.session.strftime('%d/%m/%Y') }}</small>
        </h1>
        <div class="lead subject raw">
            {{- advice.subject -}}
        </div>
        <div class="content raw">
            {{ advice.content }}
        </div>
    </div>
    <aside class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-home"></span>
                Administration
            </div>
            <div class="panel-body">
                <a href="{{ url_for('search', administration=advice.administration) }}">
                    {{ advice.administration }}
                </a>
            </div>

            <div class="panel-heading">
                <span class="glyphicon glyphicon-bullhorn"></span>
                Type de consultation
            </div>
            <div class="panel-body">
                <a href="{{ url_for('search', part=advice.part) }}"
                    data-toggle="popover" title="{{advice.part|part_label}}"
                    data-content="{{advice.part|part_help}}" data-trigger="hover">
                    {{ advice.part|part_label }}
                </a>
            </div>

            <div class="panel-heading">
                <span class="glyphicon glyphicon-book"></span>
                Thèmes
            </div>
            <div class="panel-body topics">
                {% for topic, subtopics in advice.topics|treeize %}
                    <a href="{{url_for('search', topic=topic) }}"
                        class="label label-primary topic">
                        <span class="glyphicon glyphicon-folder-{{'open' if subtopics else 'close'}}"></span>
                        {{ topic }}
                    </a>
                    {% for subtopic in subtopics %}
                    <a class="label label-default subtopic"
                        href="{{ url_for('search', topic=topic+'/'+subtopic) }}">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        {{ subtopic }}
                    </a>
                    {% endfor %}
                {% endfor %}
            </div>

            <div class="panel-heading">
                <span class="glyphicon glyphicon-comment"></span>
                Conclusions
            </div>
            <div class="panel-body">
                {% for meaning in advice.meanings %}
                <a href="{{url_for('search', meaning=meaning) }}" class="label label-primary">{{ meaning }}</a>
                {% endfor %}
            </div>

            <div class="panel-heading">
                <span class="glyphicon glyphicon-tags"></span>
                Mots-clés
            </div>
            <div class="panel-body">
                {% for tag in advice.tags %}
                <a href="{{url_for('search', tag=tag) }}" class="label label-primary">{{ tag }}</a>
                {% endfor %}
            </div>

            <a href
                class="btn btn-xs btn-info btn-block"
                title="Signaler un défaut d'anonymisation"
                data-toggle="modal" data-target="#alert-modal">
                Signaler un défaut d'anonymisation
            </a>
    </aside>
</div>
{% endblock %}

{% block extra_js %}
{# Anonimization error signalization modal #}
<div class="modal fade" id="alert-modal" tabindex="-1" role="dialog" aria-labelledby="alert-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="alert-modal-label">Signaler un défaut d'anonymisation</h4>
            </div>
            <div class="modal-body">
                <p>
                    Aidez à détecter et corriger les défauts d'anonymisation en les signalant avec ce formulaire.
                </p>
                <form id="alert-form" method="POST"
                    action="{{ url_for('alert', id=advice.id) }}">
                    {{ form.csrf_token }}
                    <textarea name="details" class="form-control" rows="3"
                        placeholder="Saisissez éventuellement quelques informations complémentaires sur l'erreur"></textarea>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" form="alert-form" class="btn btn-primary">Signaler</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
