<section class="footer">
    <div class="container">
        <footer class="row">

            <section class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <h5>Ce site</h5>
                <p>Ce site est une réutilisation du <a href="https://www.data.gouv.fr/dataset/avis-et-conseils-de-la-cada">jeu de données Avis et conseil de la CADA</a> publié sur le site <a href="http://www.data.gouv.fr/">data.gouv.fr</a>.</p>
                <p>Il permet de rechercher et explorer simplement les avis et conseils émis par la CADA depuis 1984.</p>
            </section>

            <section class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
                <h5>Réseau</h5>
                <ul>
                    <li><a href="http://www.gouvernement.fr/">Gouvernement.fr </a></li>
                    <li><a href="http://www.france.fr/">France.fr</a></li>
                    <li><a href="http://www.legifrance.gouv.fr/">Legifrance.gouv.fr </a></li>
                    <li><a href="http://www.service-public.fr/">Service-public.fr</a></li>
                    <li><a href="http://opendatafrance.net/">Opendata France</a></li>
                    <li><a href="http://www.cada.fr/">CADA.fr</a></li>
                </ul>
            </section>

            <section class="col-xs-6 col-sm-3 col-md-4 col-lg-4">
                <h5>Contact</h5>
                <ul>
                    <li><a href="https://twitter.com/Etalab">Twitter</a></li>
                    <li><a href="https://github.com/etalab">GitHub</a></li>
                    <li><a href="mailto:info@data.gouv.fr">info@data.gouv.fr</a></li>
                </ul>
            </section>

            <section class="col-xs-9 col-xs-offset-3 col-sm-offset-0 col-sm-2 col-md-2 col-lg-2">
                <a href="https://www.etalab.gouv.fr/">
                <img class="logo" src="{{ static('img/etalab.svg') }}" />
                </a>
            </section>

            <p class="bottom-right"><a href="#">Haut de page</a></p>

        </footer>
    </div>
</section>
