---
version: 2

jobs:
  build:
    docker:
      - image: python:3.6
      - image: mongo:4.1
      - image: etalab/cada-elasticsearch:7.2
        environment:
            discovery.type: single-node

    steps:
      - checkout
      - run:
          name: Compute Python dependencies key
          command: cat requirements/*.pip > python.deps
      - run:
          name: Get the base reference branch
          command: export BASE_BRANCH=$(base_branch)
      - restore_cache:
          keys:
          - py-cache-v0-{{ arch }}-{{ checksum "python.deps" }}
          - py-cache-v0-{{ arch }}-{{ .Branch }}
          - py-cache-v0-{{ arch }}-master
      - run:
          name: Install python dependencies
          command: |
            pip install virtualenv
            virtualenv venv
            source venv/bin/activate
            pip install -e .[test,report]
      - save_cache:
          key: py-cache-v0-{{ arch }}-{{ checksum "python.deps" }}
          paths:
          - venv
      - save_cache:
          key: py-cache-v0-{{ arch }}-{{ .Branch }}
          paths:
          - venv
      - run:
          name: Run tests
          command: |
            mkdir -p reports/python
            source venv/bin/activate
            pytest --junitxml=reports/python/tests.xml
            flake8 cada
      - store_test_results:
          path: reports/python
      - store_artifacts:
          path: reports/
          destination: reports
      - run:
          name: Build a distributable package
          command: |
            source venv/bin/activate
            # Build a wheel release
            if [[ $CIRCLE_TAG ]]; then
                # This is a tagged release
                python setup.py bdist_wheel
            else
                # This is a simple development build
                python setup.py egg_info -b $CIRCLE_BUILD_NUM bdist_wheel
            fi
      - store_artifacts:
          path: dist
      - persist_to_workspace:
          root: .
          paths:
            - dist

  publish:
    docker:
      - image: python:3.6
    steps:
      - attach_workspace:
          at: .
      - run:
          name: Install Twine
          command: pip install twine
      - deploy:
          name: Publish on PyPI
          command: twine upload --username "${PYPI_USERNAME}" --password "${PYPI_PASSWORD}" dist/*.whl

  github:
    docker:
      - image: udata/circleci
    steps:
      - attach_workspace:
          at: .
      - run:
          name: Upload github release
          command: |
            path=$(set -- dist/*.whl; echo "$1")
            filename=$(basename $path)
            RELEASE_URL="https://api.github.com/repos/$CIRCLE_PROJECT_USERNAME/$CIRCLE_PROJECT_REPONAME/releases/tags/$CIRCLE_TAG"
            RELEASE_DATA=$(curl -fsSL $RELEASE_URL)
            RELEASE_PAGE_URL=$(jq -r '.html_url' <<< $RELEASE_DATA)
            UPLOAD_URL=$(jq -r '.upload_url' <<< $RELEASE_DATA)
            UPLOAD_URL="$(sed 's/{.*}/?name=/' <<< $UPLOAD_URL)$filename"
            curl --request POST \
                --data-binary @$path \
                --header "Authorization: token $GITHUB_OAUTH_TOKEN" \
                --header "Content-Type: application/zip" \
                $UPLOAD_URL
            echo "Wheel upload to release $RELEASE_PAGE_URL"

workflows:
  version: 2
  build:
    jobs:
      - build:
          filters:
            branches:
              only:
                - master
                - /[0-9]+(\.[0-9]+)+/
                - /pull/[0-9]+/
                - /pyup-update-.+/
                - l10n_master
            tags:
              only: /v[0-9]+(\.[0-9]+)+/
      - publish:
          requires:
            - build
          filters:
            branches:
              only:
                - master
                - /[0-9]+(\.[0-9]+)+/
            tags:
              only: /v[0-9]+(\.[0-9]+)+/
          context: org-global
      - github:
          requires:
            - build
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /v[0-9]+(\.[0-9]+)+/
          context: org-global
